<div>
<%= user.name %> 
<%= user.type %>  
<a class="btn btn-secondary" href="/update?username=<%= user.name %>&amp;type=admin">Promote to Admin</a>  
<a class="btn btn-danger" href="/update?username=<%= user.name %>&amp;type=reg">Demote to user</a></div>
